<div>
  {{this.transaction.account}}
</div>
<div>
  {{this.transaction.category}}
</div>
<div>
  {{this.transaction.subcategory}}
</div>
<div>
  {{moment-format this.transaction.date 'DD.MM.YYYY'}}
</div>
<div>
  {{this.transaction.amount}}
</div>
