<div ...attributes>
  <div>
    {{@account.accountName}}
  </div>
  <div>
    {{@account.currentValue}}
  </div>
  <div>
    {{@account.currency}}
  </div>
  <div>
    {{@account.accountType}}
  </div>
  <div>
    {{@account.interestRate}}
  </div>
</div>