<div class="input-form transactions">
  <div class="input-form-field">
    <div class="input-form-title">
      Account
    </div>
    <PowerSelect
            @selected={{this.selectedAccount}}
            @options={{@accountNames}}
            @onChange={{action "chooseAccount"}} as |account|
    >
      {{account}}
    </PowerSelect>
  </div>
  <div class="input-form-field">
    <div class="input-form-title">
      Category
    </div>
    <PowerSelect
            @selected={{this.selectedCategory}}
            @searchEnabled={{true}}
            @options={{@categories}}
            @onChange={{action "chooseCategory"}} as |category|>
      {{category}}
    </PowerSelect>
  </div>
  <div class="input-form-field">
    <div class="input-form-title">
      Date
    </div>
    {{pikaday-input
            onSelection=(action "chooseDate")
            placeholder="Date"
            class="transaction-input"
            value=this.selectedDate}}
  </div>
  <div class="input-form-field">
    <div class="input-form-title">
      Amount
    </div>
    {{input
            class="transaction-input"
            placeholder="Amount"
            type="number" min="0"
            onchange=(action "enterAmount")
            value=this.selectedAmount
    }}
  </div>
  <div class="input-form-field">
    <button class="input-form-button" onclick={{action "addTransaction"}}>
      ADD
    </button>
  </div>
  {{#if this.anyErrors}}
    <ShowError/>
  {{/if}}
</div>