<div class="single-category-type">
  <div class="title">
    {{@type}}
  </div>
  <div class="categories">
    {{#each @categories as |single-category|}}
      <SingleCategory @category={{single-category}}/>
    {{/each}}
    {{#if this.showAddField}}
      <Input
              class="single-category"
              @placeholder="Enter category"
              @enter={{fn this.enterNewCategory}}
              @value={{this.newCategory}}
      />
    {{/if}}
    <button class="single-category" {{on "click" this.showInput}}>
      <div class="title">
        ADD
      </div>
    </button>
  </div>
</div>


