<div class="single-category">
  <div class="title">
    {{@category.categoryName}}
  </div>
  <div class="subcategories">
    {{#each @category.subcategories as |single-subcategory|}}
      <div class="single-subcategory">
        {{single-subcategory}}
      </div>
    {{/each}}
    {{#if this.showAddField}}
      <Input
              class="single-subcategory input"
              @placeholder="Enter subcategory"
              @enter={{fn this.enterNewSubcategory}}
              @value={{this.newSubcategory}}
      />
    {{/if}}
    <button class="single-subcategory" {{on "click" this.showInput}}>
      ADD
    </button>
  </div>
</div>
