<div {{did-insert (perform this.getAccounts)}}>
  {{#if this.accounts}}
    <PowerSelect
            class="select-account"
            @selected={{this.selected}}
            @options={{this.accounts}}
            @placeholder="Account"
            @onChange={{action this.selectAccount}} as |account|
    >

        {{account.accountName}}

    </PowerSelect>
  {{/if}}
</div>

