<div class="account-display bottom-margin">
  <div class="account-details">
    <div class="account-currentValue">
      {{this.model.accountData.currentValue}}
    </div>

    <div class="account-currency">
      {{this.model.accountData.currency}}
    </div>

    <h1>
      {{this.model.accountData.accountName}}
    </h1>
  </div>
  <div>
    {{#each this.model.chartData as |element|}}
      {{ember-chart type="bar" data=element options=this.model.chartOptions width=100 height=50}}
    {{/each}}
  </div>
</div>


<TransactionHistory @transactions={{this.model.history}}/>

