<div class="single-transaction header">
    <div>
        Account
    </div>
    <div>
        Category
    </div>
    <div>
        Subcategory
    </div>
    <div>
        Date
    </div>
    <div>
        Amount
    </div>
</div>
<ul class="transactions">
  {{#each this.model as |transaction|}}
    <li class="single-transaction">
      <div>
        {{transaction.account}}
      </div>
      <div>
        {{transaction.category}}
      </div>
      <div>
        {{transaction.subCategory}}
      </div>
      <div>
        {{moment-format transaction.date 'DD.MM.YYYY'}}
      </div>
      <div>
        {{transaction.amount}}
      </div>
    </li>
  {{/each}}
</ul>
