<div class="add-new-transaction">
  <h3>Add new transaction</h3>
  <div class="input-form">
    <div class="input-form-field">
      <div class="input-form-title">
        Account
      </div>
      <PowerSelect @selected={{this.selectedAccount}}
                   @options={{this.accounts}}
                   @onChange={{action "chooseAccount"}} as |account|>
        {{account}}
      </PowerSelect>
    </div>
    <div class="input-form-field">
      <div class="input-form-title">
        Category
      </div>
      <PowerSelect @selected={{this.selectedCategory}}
                   @options={{this.categories}}
                   @onChange={{action "chooseCategory"}} as |category|>
        {{category}}
      </PowerSelect>
    </div>
    <div class="input-form-field">
      <div class="input-form-title">
        Subcategory
      </div>
      <PowerSelect @selected={{this.selectedSubcategory}}
                   @options={{this.subcategories}}
                   @onChange={{action "chooseSubcategory"}} as |subcategory|>
        {{subcategory}}
      </PowerSelect>
    </div>
    <div class="input-form-field">
      <div class="input-form-title">
        Date
      </div>
      {{pikaday-input onSelection=(action "chooseDate") placeholder="Date" class="transaction-input" }}
    </div>
    <div class="input-form-field">
      <div class="input-form-title">
        Amount
      </div>
      <input class="transaction-input" placeholder="Amount" type="number" min="0">
    </div>
    <div class="input-form-field">
      <button class="input-form-button">
        ADD
      </button>
    </div>
  </div>
</div>

<TransactionHistory @transactions={{this.model}}/>